@charset "UTF-8";

/* 고정된 AI 봇 박스 스타일 */
#aiBotPanel {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 800px;
	height: 600px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 8px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	padding: 16px;
	font-family: Arial, sans-serif;
	font-size: 19px;
	overflow-y: auto;
	display: none;
}

#aiBotPanel h2 {
	margin-top: 0;
	font-size: 1.8rem;
	color: #333;
	text-align: center;
}

#aiBotPanel p {
	font-size: 20px;
	text-align: center;
	color: slategrey;
}

#toggleBotButton {
	position: fixed;
	top: 200px;
	right: 20px;
	background-color: #ef7c09;
	color: white;
	border: none;
	padding: 10px 16px;
	margin: 15px 20px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	z-index: 1001;
}

/* 스크롤바 스타일 (선택적) */
#aiBotPanel::-webkit-scrollbar {
	width: 8px;
}

#aiBotPanel::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 4px;
}

#stockRecommendations {
	word-wrap: break-word;
	white-space: pre-line;
	max-height: 460px;
	overflow-y: auto;
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ddd;
}

#loading {
	display: none; /* 기본적으로 숨김 */
	position: fixed;
	left: 78%;
	top: 60%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}