@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #999999, black);
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}
.login-header p{
	padding : 15px 0px;
}

.input-group {
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: black;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #595959;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #999999;
}

.googleLogin-btn {
  width: 100%;
  padding: 12px;
  background-color: #595959;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googleLogin-btn:hover {
  background-color: #999999;
}

.links {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  color: black;
}

.links a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.links a:hover {
  color: #ffde59;
}

.divider {
  color: #ddd;
}