@charset "UTF-8";
body {
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 배경색 설정 */
}

.primary-container {
    max-width: 600px; /* 최대 너비 설정 */
    margin :200px auto;
    padding: 30px 30px; /* 여백 설정 */
    background-color: #ffffff; /* 박스 배경색 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.primary-container div{
	margin-top: 20px;
}

.input-group {
    margin-bottom: 20px; /* 각 입력 그룹 사이 마진 설정 */
	margin: 30px 10px;
}
#main-title label{
	text-align: center;
	font-size: 30px;
	font-weight: 600px;
}

.input-group label {
	margin-left: 7px;
    display: block; /* 레이블을 블록으로 설정하여 전체 너비 차지 */
    margin-bottom: 10px; /* 레이블과 입력 필드 사이 마진 설정 */
    font-weight: 500; /* 레이블 글씨 굵기 설정 */
    font-size:22px;
}

.form-control {
    width: 100%; /* 입력 필드의 너비를 100%로 설정 */
    padding: 5px; /* 여백 설정 */
    height: 45px;
    font-size: 19px;
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    border-radius: 4px; /* 둥근 모서리 설정 */
    box-sizing: border-box; /* 박스 모델 설정 */
}

.form-control:focus {
    border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 포커스 아웃라인 제거 */
}

.register-btn, .googleLogin-btn {
    width: 100%; /* 버튼 너비를 100%로 설정 */
    padding: 20px; /* 여백 설정 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 4px; /* 둥근 모서리 설정 */
    background-color: #595959; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    font-size: 20px; /* 버튼 텍스트 크기 */
    cursor: pointer; /* 커서 모양을 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.register-btn:hover, .googleLogin-btn:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

.footer {
    margin-top: 70px; /* 하단 여백 설정 */
    text-align: center; /* 가운데 정렬 */
    color: #777; /* 텍스트 색상 설정 */
}
