@charset "UTF-8";

body {
	height: 100vh;
	font-family: "Noto Serif KR", serif;
	margin: 0;
	padding: 20px;
	text-align: center;
	background-color: lightgrey;
}

.result-container {
	margin:200px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background-color: #f8f8f8;
	max-width: 600px;

}

h1 {
	color: #ef7c09;
	margin-bottom: 30px;
}

p {
	font-size: 18px;
	color: #333;
}
button{
	font-family: "Noto Serif KR", serif;
	color: white;
	background-color:#ef7c09;
	padding: 10px;
	border-radius:10px;
	border-style:none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	position: relative;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}