@charset "UTF-8";

body {
	margin: 0;
	position: relative; /* 부모 요소에 상대 위치 설정 */
	min-height: 100vh; /* 페이지 높이를 100%로 설정 */
	font-family: "NotoSansKR", "Sans-serif";
}

/* 컨테이너 여백 */
.primary-container {
	padding: 10px 10%;
}

header {
	font-family: "NotoSansKR", "Sans-serif";
	background-color: black;
	color: #ffffff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);

}

h1 {
	margin:0px;
	width: 20%;
    cursor: pointer;
    transition: all 0.3sease;
}

h1 a {
	text-decoration: none;
	display: flex;
	justify-content: center;
}

h1 :visited {
	color: #ffffff;
}

header h1:hover {
	transform: rotate(-5deg);
}

header h1 a:hover {
	transform: rotate(-5deg);
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	font-size: 19px;
	color: #ffffff;
	text-decoration: none;
	margin: 0 15px;
	position: relative;
	transition: all 0.3s ease;
}

nav a:hover {
	color: #ffffff;
	border-bottom: 2px solid rgb(75, 73, 73);
	transform: scale(1.1); /* 살짝 커지는 효과 */
}

.login {
	margin-left: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
}

header .login::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: #ffde59;
	border-radius: 50%;
	display: inline-block;
}

header .login {
	padding-right: 20px;
	margin-left: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
}

header .login::after {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: #ffde59;
	transition: width 0.3s ease;
}

header .login:hover::after {
	width: 100%;
}

header .login a {
	color: #ffffff;
	text-decoration: none;
}

header .login a:visited {
	color: #ffffff;
}

.login-top {
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}

/* 드롭다운 스타일 */
.dropdown {
	position: relative;
}

.dropdown-link {
	color: #ffffff;
	text-decoration: none;
	margin: 0 15px;
	position: relative;
	transition: all 0.6s ease;
}

.dropdown-link:hover {
	color: #ffffff;
	border-bottom: 2px solid rgb(75, 73, 73);
	transform: scale(1.1); /* 살짝 커지는 효과 */
}

.dropdown-content {
	position: absolute;
	top: 100%; /* 부모 요소 아래로 배치 */
	left: 0; /* 부모 요소의 왼쪽에 정렬 */
	background-color: #ffffff;
	min-width: 250px;
	box-shadow: grey;
	z-index: 1;
	border-radius: 4px;
	opacity: 0; /* 초기 투명도 */
	transition: opacity 0.2s ease, max-height 0.8s ease; /* 애니메이션 효과 */
	max-height: 0; /* 초기 최대 높이 */
	overflow: hidden; /* 넘치는 내용 숨김 */
	margin-top: 29px;
}

.dropdown-content a {
	color: #333;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}

.dropdown-content a:hover {
	background-color: #737373;
	color: #ffff;
}

.dropdown:hover .dropdown-content {
	padding: 0px 0;
	opacity: 1;
	max-height: 200px;
}

#favoritesDropdown {
	position: absolute;
	top: 100%; /* 부모 요소 아래로 배치 */
	left: 0; /* 부모 요소의 왼쪽에 정렬 */
	background-color: #ffffff;
	min-width: 200px;
	box-shadow: grey;
	z-index: 1;
	border-radius: 4px;
	opacity: 0; /* 초기 투명도 */
	transition: opacity 0.2s ease, max-height 0.8s ease; /* 애니메이션 효과 */
	max-height: 0; /* 초기 최대 높이 */
	overflow: hidden; /* 넘치는 내용 숨김 */
	margin-top: 29px;
}

#favoritesDropdown a {
	color: #333;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}

.dropdown-content tbody {
    display: flex;
    flex-direction: column;
}



button.delete-fav-btn {
	border: none;
	font-size: 15px;
	width: 50px;
	height: 30px;
	background: #595959;
	padding: 1px 6px !important;
}

button.delete-fav-btn {
	background: #999;
}